
<html>
    <head>
      <% include navbar.ejs %>
    </head>
  
  
    <body>
      <% include search_bar.ejs %>
  
  
      <div class="card p-md-2 p-0 mx-3 my-0 ">
  
        <div class='p-3'>
          <p class="lead mark"><b> Name:</b> <%= product.name %> </p>
  
          <!-- <p > ID: <%= product.id %> </p> -->
          <p class="lead "> <b> Description:</b> <%= product.description %> </p>
          <p class="lead"><b> Category:</b> <%= product.category %> </p>
  
          <p class="lead"> <b>Tags:</b> <% for(var tag in product.tags){ %>
              <%= product.tags[tag] %>
              <% } %>
          </p>
  
          <p class="lead"> <b>Withdrawn:</b> <%= product.withdrawn %> </p>
  
          <p class="lead"><b> ExtraData:</b> <% for (var key in product.extraData) { %>
              <%= key + ' ' + product.extraData[key] %>
          <% } %>
          
<div class="col ">
    <% for(var i = 0;i < priceData.length;i++){ %>
    <div class="row-6 mb-3 ">
        <div class="col">
            <div class="card p-md-2" > 
                <div class="ml-0">
                    <div class="row">
                        <div class="col-6">
                            <p class="lead "> Price: <%= priceData[i].price %> </p>
                        </div>
                        <div class="col-6">
                            <p class="lead "> Product: <%= priceData[i].productId %></p>
                        </div>
                    </div>
                    <% if ( session.auth_token ) { %>
                    <form  class="form-group text-center text-md-left" action='/change_price' method='POST'>
                        <input type="text"  class="form-control" name="shopId" value="<%=priceData[i].shopId %>" hidden>
                        <button class="btn btn-outline-secondary" type="submit" name='productId' value="<%=priceData[i].productId%>">Change Price</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>

          </p>
        </div>
    </div>
    <% if ( session.auth_token ) { %>
      <a class="btn btn-primary text-white mx-5 mb-3 align-self-md-auto align-self-center"  data-toggle="modal" data-target="#edit_modal" >Edit</a>
      <% include edit_product.ejs %>
    <% } %>
  
  
  
  <% include footer.ejs %>
  
  
  
  
    </body>
  </html>