<h1>this is information about a product</h1>

<p> ID: <%= product.id %> </p>
<p> Name: <%= product.name %> </p>
<p> Description: <%= product.description %> </p>
<p> Category: <%= product.category %> </p>

<p> Tags: <% for(var tag in product.tags){ %>
    <%= product.tags[tag] %>
    <% } %>
</p>

<p> Withdrawn: <%= product.withdrawn %> </p>

<p> ExtraData <% for (var key in product.extraData) { %>
    <%= key + ' ' + product.extraData[key] %>
<% } %>

<form action='/product_info' method='PUT'>
    <button type="submit" name='productID' value="<%=product.id%>">Change all product fields</button>
</form>

<form action='/product_info' method='PATCH'>
    <button type="submit" name='productID' value="<%=product.id%>">Change one field</button>
</form>

<form action='/product_info' method='DELETE'>
    <button type="submit" name='productID' value="<%=product.id%>">Delete product</button>
</form>