<html>
    <head>
        <% include navbar.ejs %>
    </head>
    <body>                
        <div class = "ml-md-5 mr-md-5 ">
            <% include search_bar.ejs %>
        </div>
        

            
        <h3 class=" mb-4 mt-3 ml-3"> Αποτελέσματα αναζήτησης: </h3>

        <div class="col ">
            <% for(var i = 0;i < myproducts.length;i++){ %>
            <div class="row-6 mb-3 ">
                <div class="col">
                    <div class="card p-md-2" > 
                        <div class="ml-0">
                            <div class="row">
                                <div class="col-6">
                                    <p class="lead "> Name: <%= myproducts[i].name %> </p>
                                </div>
                                <div class="col-6">
                                    <p class="lead "> Description: <%= myproducts[i].description %></p>
                                </div>
                            </div>  
                            <!-- <form  class="form-group text-center text-md-left" action='/product_info' method='GET'>
                                <button class="btn btn-outline-secondary" type="submit" name='productID' value="<%=myproducts[i].id%>">Learn more</button>
                            </form> -->
                            <form  class="form-group text-center text-md-left" id="newProduct" action='/product_info' method="POST">
                                <input id="<%=myproducts[i].id%>" value = "<%=myproducts[i].id%>" type="text" name="productId" hidden>
                              <div class="form-group">
                                  <label for="DateFrom">Date from</label>
                                  <input type="date"  class="form-control form-inline" placeholder="Enter date from" name="datefrom" required>
                              </div>
                              <div class="form-group">
                                  <label for="DateTo">Date to</label>
                                  <input type="date"  class="form-control" placeholder="Enter date to" name="dateto" required>
                              </div>
                              <button type="submit" class="btn btn-primary">Ψάξε</button>
                              </form>
                              
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% include footer.ejs %>
    </body>
</html>
